* {
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    margin: 0;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: x-large;
    color: #E9EDEF;
}

h3{
    line-height: 1.2;
    padding-bottom: 20px;
}

p, ul, em {
    color: #E9EDEF;
}

a {
    text-decoration: none;
    color: #FFD940;
}



header {
    background-color: white;
    padding: 25px;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
    background-color: #1B2125;
    
}

p {
    padding: 10px 0 10px 0;
}

.input-form {
width: 100%;
height: 45px;
   }

.form-line {
    display:flex;
    align-items: left;
    padding-bottom: 30px;
    flex-direction: column;
    
}

.nowrap {
    display: inline-block;
}

span {
    color: white;
    display:inline-block;
    font-weight: bold;
    text-align: left;
    padding-bottom: 15px;
}

main {
    max-width: 500px;
    padding: 20px 20px;
    margin: auto;
    align-content: center;
}

form {
    margin-bottom: 20px;
    background-color: #3A4852;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.div-success {
    background-color: white;
    border-radius: 10px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    width: 300px;
}


.button {
    background-color: #FFD940;
    padding: 8px 16px;
    cursor: pointer;
    align-self: center;
    font-weight: bold;
}

.button:disabled {
    opacity: 0.2;
    color:grey;
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal*/
.modal {
     /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    
    display: flex;
    flex-direction: column;
    background-color: #3A4852;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    align-items: center;
    max-width: 300px; /* Could be more or less, depending on screen size */
  }

  .check-image {
      max-width: 150px;
      align-self: center;

  }

  .div-images {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }

  .logo {
    width: 100px;
    filter: grayscale(1);
    mix-blend-mode: multiply;
  }

  